<h1>Editing Book</h1>
<%= form_with model: @list do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
	
  <h4>Body</h4>
  <%= f.text_area :body %>
	
  <%= f.submit 'Update Books' %>
  
  <p><a href ="https://2b7d7c905b744255a28199b0ff78bcc0.vfs.cloud9.ap-northeast-1.amazonaws.com/lists/1" />Show|<a href ="https://2b7d7c905b744255a28199b0ff78bcc0.vfs.cloud9.ap-northeast-1.amazonaws.com/lists/new" />Back</p>
<% end %>