<h2>Title:</h2>
<p><%= @list.title %></p>

<h2>Body:</h2>
<p><%= @list.body %></p>

<p><a href ="https://2b7d7c905b744255a28199b0ff78bcc0.vfs.cloud9.ap-northeast-1.amazonaws.com/lists/edit"/>Edit|<a href ="https://2b7d7c905b744255a28199b0ff78bcc0.vfs.cloud9.ap-northeast-1.amazonaws.com/lists/new" />Back</p>